{{!-- EDIT EVENT --}}
<form method="POST" action="/event/{{ event.id }}/edit">

  <div class="field">
    <label>Title</label>
    <div class="input"><input value="{{event.title}}" type="text" name="title"  ></div>
  </div>

  <div class="field">
    <label>Location</label>
    <div class="input"><input value="{{event.location}}" type="text" name="location"  ></div>
  </div>

  <div class="field">
    <label>Date</label>
    <div class="input"><input value="{{event.date}}" type="date" name="date"  ></div>
  </div>

  <div class="field">
    <label>Time</label>
    <div class=""> <input type="time" id="appt" name="time"  min="00:00" max="23:59"></div>
  </div>

  <div class="field">
    <label>Type</label>
    <div class="input">    <select name="type">
      <option>Active</option>
      <option>Training</option>
      <option>Relaxed meetup</option>
      <option>Socialization</option>
    </select></div>
  </div>

<div class="field">
    <label>Description</label>
    <div class="input">
      <textarea value="{{event.description}}" class="description-box" name="description" cols="40"
        rows="5"></textarea>
    </div>
  </div>

  <div>
    <label for="avatar">Choose a event picture</label>
    <br>
    <input value="{{event.eventPicture}}" type="url" id="downloadeventpic" name="eventPicture" accept="image/png, image/jpeg">
    {{!-- <button type="submit" class="btn btn-primary">Upload my Picture</button> --}}
  </div>


  <button type="submit">Update event</button>
</form>

{{#if message}}
  <div class="error">{{message}}</div>
{{/if}}