{{!-- //Signup for - always method=POST - action=/signup - name attribute for the DB - Submit button --}}
<h1>Upcoming events</h1>

<div>
  <b>Filter the events</b>
  <form method="GET" action="/events">
    <input type="checkbox" name="Active">
    <label for="Active">Active</label>
    <input type="checkbox" name="Training">
    <label for="Training">Training</label>
    <input type="checkbox" name="Relaxed meetup">
    <label for="Relaxed meetup">Relaxed meetup</label>
    <input type="checkbox" name="Socialization">
    <label for="Socialization">Socialization</label>
    <br/>
    <button type="submit">Filter</button>
  </form>
</div>

<ul class="upcoming-events">
  {{#each events}}
  <li>
    
      <div class="title">{{title}}</div>
      <div class="location"><span class="fas fa-map-marker"></span> {{location}}</div>
      <div class="date"><span class="fas fa-calendar"></span>{{datePretty}}</div>
      <div class="time"><span class="fas fa-clock"></span>{{time}}</div>
      <div class="type"><span class="fas fa-question"></span>{{type}}</div>


    <a class="event" href="/event-details/{{ this.id }}">
      <button type="button" class="btn btn-primary">More Info</button>
    </a>

  </li>
  {{/each}}
  <li class="placeholder"></li>
  <li class="placeholder"></li>
  <li class="placeholder"></li>
  <li class="placeholder"></li>
  <li class="placeholder"></li>
  <li class="placeholder"></li>
  <li class="placeholder"></li>
  <li class="placeholder"></li>
</ul>

{{#if registrationMessage}}
  <div class="error">{{registrationMessage}}</div>
{{/if}}