<h1>{{ eventsData.title }}</h1>
<h2>{{ eventsData.type }}</h2>
<ul>
  <li>{{ eventsData.date }} - {{ eventsData.location }}</li>
</ul>
User: {{ eventsData.user.name }}
<br>
People joining: 
{{#each attendeesData}}
<div>{{name}}</div>
{{/each}}
<h2>Event Description</h2>
<p>{{ eventsData.description }} </p>
<br>
<img src="/event-details/{{ eventsData._id }}/picture" alt="Event Picture" height="100">
<br>
{{!-- <h4>TODO For Event Details</h4>
<ul>
  <li>Add a picture of the event</li>
  <li>Add the max number of dogs accepted</li>
  <li>Change time format</li>
  <li>Add a link to the creator of the event!</li>
</ul> --}}
<br>

{{!-- <img class="event-picture"
     src="{{ eventsData.picture }}"
     alt= "{{ eventsData.title }} picture" > --}}



<div class="button-section">






  {{#if user }}
  <a href="/event/{{ eventsData._id }}/edit">
    <button type="submit" class="btn btn-primary">Edit</button>
  </a>

  <form method="POST" action="/event/{{ eventsData._id }}/delete">
    <a href="/event/{{ eventsData._id }}/delete">
      <button type="submit" class="btn btn-primary">Delete</button>
    </a>
  </form>

  {{else}}

  {{#if attendee }}
  <a href="/event-cancel-registration/{{ eventsData._id }}">
    <button type="button" class="btn btn-primary">Cancel Registration</button>
  </a>
  {{else}}
  <a href="/event-registration/{{ eventsData._id }}">
    <button type="button" class="btn btn-primary">Register Now</button>
  </a>
  {{/if}}

  {{/if}}

  <a href="/events">
    <button type="submit" class="btn btn-primary">All Events</button>
  </a>
</div>