{{!-- //Signup for - always method=POST - action=/signup - name attribute for the DB - Submit button --}}
<h1>Upcoming events</h1>
<ul>
  {{#each events}}
  <li>{{date}} - {{title}} - {{type}} - {{location}}</li>
  <br>
  <div class="button-section">
    <a href="/event-details/{{ this.id }}">
      <button type="button" class="btn btn-primary">More Details</button>
    </a>
    <br>
    <br>
    {{!-- <a href="/event-registration/{{ this._id }}">
      <button type="button" class="btn btn-primary">Register Now</button>
    </a> --}}
    <br>
    <br>
  {{/each}}
</ul>

{{#if registrationMessage}}
  <div class="error">{{registrationMessage}}</div>
{{/if}}