{{!-- //Signup for - always method=POST - action=/signup - name attribute for the DB - Submit button --}}
<h1>Upcoming events</h1>
<ul>
  {{#each events}}
  <li>{{date}} - {{title}} - {{type}} - {{location}}</li>
  <br>
  <div class="button-link">
    <a href="/event-details/{{ this.id }}">
      <button type="button" class="btn btn-primary">More Details</button>
    </a>
  </div>
  {{/each}}
  <br>
  <br>
</ul>