<h1>You are now registered!</h1>
<h2>We can't wait to see you and your fluffy best friend!</h2>
<br>
<h3>{{ event.title }}</h3>
<h4>{{ event.type }}</h4>
<ul>
  <li>{{ event.date }} - {{ event.location }}</li>
</ul>
<br>

{{!-- <img class="event-picture"
     src="{{ eventsData.picture }}"
     alt= "{{ eventsData.title }} picture" > --}}

<a href="/events">
  <button type="submit" class="btn btn-primary">All Events</button>
</a>