{{!-- //Signup for - always method=POST - action=/signup - name attribute for the DB - Submit button --}}
<h1>Upcoming events</h1>
<ul class="upcoming-events">
  {{#each events}}
  <li>
    
      <div class="eventPicture"><img src={{eventPicture}} alt="Event Picture" width="100" height="100"></div>
      <div class="title">{{title}}</div>
      <div class="location"><span class="fas fa-map-marker"></span> {{location}}</div>
      <div class="date"><span class="fas fa-calendar"></span>{{datePretty}}</div>
      <div class="time"><span class="fas fa-clock"></span>{{time}}</div>
      <div class="type"><span class="fas fa-question"></span>{{type}}</div>


    <a class="event more-info-button button-section" href="/event-details/{{ this.id }}">
      <button type="button" class="btn btn-primary">More Info</button>
    </a>

    {{!-- <a href="/event-registration/{{ this._id }}">
      <button type="button" class="btn btn-primary">Register Now</button>
    </a> --}}

  </li>
  {{/each}}
  <li class="placeholder"></li>
  <li class="placeholder"></li>
  <li class="placeholder"></li>
  <li class="placeholder"></li>
  <li class="placeholder"></li>
  <li class="placeholder"></li>
  <li class="placeholder"></li>
  <li class="placeholder"></li>
</ul>

{{#if registrationMessage}}
  <div class="error">{{registrationMessage}}</div>
{{/if}}