<h1>{{ eventsData.title }}</h1>
<h2>{{ eventsData.type }}</h2>
<ul>
  <li>{{ eventsData.date }} - {{ eventsData.location }}</li>
</ul>
<br>
<h4>TODO For Event Details</h4>
<ul>
  <li>Add a picture of the event</li>
  <li>Add a short description</li>
  <li>Add the max number of dogs accepted</li>
  <li>Change time format</li>
  <li>Add a link to the creator of the event!</li>
</ul>

{{!-- <img class="event-picture"
     src="{{ eventsData.picture }}"
     alt= "{{ eventsData.title }} picture" > --}}