<h1>PET PROFILE</h1>
<h1>{{ petProfileData.name }}</h1>

{{!-- //Signup for - always method=POST - action=/signup - name attribute for the DB - Submit button --}}

{{#if isEdit}}
<form method="POST" action="/petprofile/{{petProfileData._id}}/edit" enctype="multipart/form-data">
{{else}}
<form method="POST" action="/petprofile/create" enctype="multipart/form-data">
{{/if}}

  <div class="field">
    <label>Name</label>
    <div class="input"><input type="text" name="name" placeholder="Name of pet" value="{{petProfileData.name}}"></div>
  </div>

  <div class="field">
    <label>Birth year</label>
    <div class="input"><input type="text" name="birthYear" placeholder="Birth year" value="{{petProfileData.birthYear}}"></div>
  </div>

  <div class="field">
    <label>Description</label>
    <div class="input">
      <textarea value="{{petProfileData.description}}" class="description-box" name="description" cols="40"
        rows="5"></textarea>
    </div>
  </div>

  <div>
    <label for="avatar">Choose your pet's photo</label>
    <br>
    <input type="file" id="downloadeventpic" name="petPicture" accept="image/png, image/jpeg">
  </div>

  <br>
  <button type="submit">Update pet profile</button>
</form>

{{#if message}}
<div class="error">{{message}}</div>
{{/if}}





