<head>
  <style>
    /* Style the tab */
    .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
    }
  </style>
</head>

<h1>Your Messages</h1>

<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Received')" id="defaultOpen">Received</button>
  <button class="tablinks" onclick="openTab(event, 'Sent')">Sent</button>
</div>

<!-- Tab content -->
<div id="Received" class="tabcontent">
  <h3>Received</h3>
  {{#each received}}
    <a href="/messages/{{this._id}}" style="cursor: pointer">
      <div style="border: 0.5px solid black; margin: 5px; padding: 5px">
        <b>From:</b> {{this.sender.name}}
        <br/>
        {{this.createdAt}}
      </div>
    </a>
    {{/each}}
</div>

<div id="Sent" class="tabcontent">
  <h3>Sent</h3>
  <div>
    {{#each sent}}
    <a href="/messages/{{this._id}}" style="cursor: pointer">
      <div style="border: 0.5px solid black; margin: 5px; padding: 5px">
        <b>To:</b> {{this.recipient.name}}
        <br/>
        {{this.createdAt}}
      </div>
    </a>
    {{/each}}
  </div>
</div>

<script>
  function openTab(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>

<script>
  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>